@import url(http://weloveiconfonts.com/api/?family=brandico|entypo|zocial);


*{
	box-sizing: border-box;

}

/*body {
	background-image: url("images/whitebrick.png");
	background-attachment: fixed ,scroll;
    background-repeat: no-repeat, repeat-y;

}*/

.page{
	height: 100%;
	width: 1200px;
	margin: auto;
	border: 1px solid red;
	position: relative;
	
}

.header {
	height: 200px;
	border: 3px solid black;
	border-radius: 10px;
	margin: 10px;
	display: flex;
	justify-content: space-between;

	.logo {
		height: 180px;
		width: 200px;
		border: 2px solid red;
		margin: 8px;
		align-self: center;
		border-radius: 3px;
	}
	.media {
		height: 180px;
		width: 200px;
		border: 2px solid red;
		margin: 8px;
		border-radius: 3px;
		display: flex;
		justify-content: center;
		
		/* entypo/Facebook */
          .entypo-facebook:before {
            font-family: 'entypo', sans-serif;
            
          }

          /* zocial /Twitter */
          .zocial-twitter:before {
            font-family: 'zocial', sans-serif;
          }
          /* brandico /Instagram*/
          .brandico-instagram:before {
            font-family: 'brandico', sans-serif;
          }
	}
}

.inside_view img{
	height: 350px;
	width: 95%;
	position: absolute;
	margin: 10px;
	padding-left: 50px;

}

.top_content{
	height: 200px;
	border: 3px solid black;
	border-radius: 3px;
	margin-top: 375px;
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	justify-content: space-around;
}

.news {
	height: 160px;
	width: 200px; 
	border: 2px solid red;
	border-radius: 3px;
	margin-top: 15px;
}

.specials {
	height: 160px;
	width: 200px; 
	border: 2px solid red;
	border-radius: 3px;
	margin-top: 15px;

}

.location {
	height: 160px;
	width: 200px; 
	border: 2px solid red;
	border-radius: 3px;
	margin-top: 15px;
}

.main_content {
	height: 1000px;
	//width: 800px;
	border: 5px solid red;
	border-radius: 3px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	justify-content: space-between;

}

.info_box {
	height: 900px;
	width: 70%;
	border: 2px solid black;
	border-radius: 3px;
	margin-left: 10px;
	margin-right:10px;
	margin-top: 15px;
	//align-self: auto;

}

.photo_content {
	height: 900px;
	width: 30%;
	border: 2px solid black;
	border-radius: 3px;
	margin-right: 10px;
	margin-top: 15px;
	//align-self: flex-end;
}



