@import url(http://weloveiconfonts.com/api/?family=brandico|entypo|zocial);


*{
	box-sizing: border-box;

}
.page{
	height: 100%;
	width: 1200px;
	margin: auto;
	//border: 1px solid red;
	position: relative;
	
}

.logoimg {
	height: 400px;
	width: 400px;
	padding-bottom: 50px;
	margin-top: -135px;
	margin-left: -75px;

}

.header {

	margin: 10px;
	display: flex;
	justify-content: space-between;

	.logo {

		height: 180px;
		//width: 200px;
		//border: 2px solid red;
		margin-top: 110px;
		margin-left: 50px;
		align-self: center;
		border-radius: 3px;
		//font-family: 'Cookie', cursive;

	}
	.media {
		width: 200px;
		//border: 2px solid red;
		margin: 8px;
		border-radius: 3px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}	
		
		button {
			background-color: white;
			border: none;
		}
    
    .media_logos{
    	height: 60px;
    	width: 60px;
    	margin-left: -15px;

    }
}

.inside_view img{
	height: 350px;
	width: 99%;
	position: absolute;
	margin: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;


}

.top_content{

	border-radius: 3px;
	margin-top: 375px;
	margin-left: 10px;
	margin-right: 10px;

}
.topbar{
	width: 30%;
	height:240px;
	border: 2px solid lightgray;
	margin: 15px 1.5%;
	float:left;
	padding:10px;
	font-size:12px;
	.caption{
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid lightgray;
		font-size: 14px;
	}
	
    font-family: 'PT Sans Caption', sans-serif;


}


.news {

	text-overflow: hidden;
	
}
.news-heading{
	display: inline-block;
	width:60%;
	font-weight:bold;
	font-style:italic;
	font-size:14px;

}

.news-title {
	font-size: 40px;
	text-align: center;
	border: 2px dotted black;
	border-radius: 3px;
}

.date{
	float:right;
	font-weight:bold;
	font-style:italic;
	font-size:14px;

}
.news-content{
	overflow: hidden;
	margin-top:10px;
	
}

.spl-img{
	text-align: center;
	margin-bottom:8px;
	img{
		height:100px;
		border: 1px solid lightgrey;
	}

}
.spl-title{
	display:inline-block;
	font-weight:bold;
	font-style:italic;
	font-size:12px;
}
.spl-description {
}

.spl-price{
	float:right;
	font-weight:bold;
	font-style:italic;
	font-size:12px;
}
.spl-decription{
	margin-top:8px;
}
#map {
    height: 120px;
    width: 80%;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 10px;
}
.address{
	text-align:center;
	margin-top:7px;
	margin-bottom:7px;

}
.phone{
	text-align:center;
	margin-bottom:7px;

}

.clear{
	clear:both;

}

.main_content {
	border-radius: 3px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.story{
	font-size:12px;
	font-family:sans-serif;
	line-height:27px;
}

.info_box {
	float:left;
	width: 65%;
	margin-left: 10px;
	margin-right:10px;
	margin-top: 15px;
}
.icons{
	float:right;
}
a{
	text-decoration:none;
	color:black;
}

li {
	display: inline-block;
}
.tabContent {
	display: none;
	margin-left:50px;

}
.tablinks{
	border: 1px solid lightgray;
	border-bottom:none;
	padding:10px;
}
.menu-title{
	margin-bottom:15px;
	margin-top:25px;
	font-style:italic;
	font-size:18px;
	padding-bottom:7px;
	border-bottom: 5px solid lightgrey;

}
.menu-caption{
	font-style:italic;
	font-size:18px;
	padding-bottom:7px;
	border-bottom: 2px solid lightgrey;
}
#menu{
	font-size: 15px;
}
.mtitle{
	display:inline-block;
	color:black;
	font-weight: bold;
	font-size:17px;
	margin-bottom:10px;
	font-family:sans-serif;
}
.mprice{
	display:inline-block;
	float:right;
}
.mdescrip{
	font-size: 11px;
	margin-bottom:12px;

}
.appetizer-title{
	margin-bottom:15px;
}
.entrees-title{
	margin-bottom:20px;
	margin-top:20px;
}
.sides-title{
	margin-bottom:20px;
	margin-top:20px;
}
.material-icons{
	border: 1px solid black;
}
#postName{
width: 250px;
border-radius: 4px;
margin-top:10px;
margin-bottom:10px;
}
#postGuests{
width: 120px;
border-radius: 4px;
margin-top:10px;
margin-bottom:10px;

}
#postDate{
width: 100px;
border-radius: 4px;
margin-top:10px;
margin-bottom:10px;

}
#postNotes{
width: 340px;
height:100px;
border-radius: 3px;
margin-top:10px;
margin-bottom:10px;
}
.postdate{

}
#seating{
	width:120px;
	margin-top:10px;
	margin-bottom:25px;
}
#select{
	padding:13px;
}
.photo_content {
	float:left;
	width: 30%;
	margin-right: 10px;
	margin-top: 15px;
}
.foodImg{
	width:300px;
	height:300px;

	margin: 20px;
}

.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableCell, .divTableHead {
	display: table-cell;
	padding: 20px 10px;
	vertical-align: top;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

.hoverDivContainer {
	position: relative; 
	display: inline;
}

.hoverDiv {
	position: absolute; 
	top: 20px; 
	height: 100px; 
	width: 300px; 
	border: 1px solid black; 
	background-color: white; 
}
.photo-title{
	font-style:italic;
	font-size:18px;

}

